<p id="notice"><%= notice %></p>

<h1>Listing Zombies</h1>

<table>
  

  <tbody>
    <% @zombies.each do |zombie| %>
    <tr>
      <%= div_for zombie do %>
        <%= link_to "Zombie #{zombie.name}", zombie %>
        
          <%= link_to 'Edit', edit_zombie_path(zombie) %>
          <%= link_to 'Delete', zombie, method: :delete, remote: true %>
        
      <% end %>      
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path %>
